@model PlanMateWebApp.Models.MDatacenter
@{
    ViewData["Title"] = "订单查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Css/jquery.stacked-gantt.css" rel="stylesheet" />
<div class="content">
    <div class="row alertBox">
        <div class="alert alert-secondary alertCon" role="alert">

            <div class="text-right">当前计划发布日期：@ViewBag.ReleaseTime，最后计划发布人：@ViewBag.Owner，计划发布名称：@ViewBag.WorkPlanName</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-6 text-left text-light small">提前交货订单：@ViewBag.EarlyPercentage%</div>
                        <div class="col col-6 text-right text-light h5">@Model.EarlyConunt 张</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-6 text-left text-light small">正常交货订单： @ViewBag.OnTimePercentage%</div>
                        <div class="col col-6 text-right text-light h5">@Model.OnTimeCount 张</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-6 text-left text-light small">延迟交货订单：@ViewBag.LatePercentage%</div>
                        <div class="col col-6 text-right text-light h5">@Model.LateCount 张</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col col-6 text-left text-light small" style="word-break: keep-all; white-space: nowrap;">异常排程订单：@ViewBag.ErrorPercentage%</div>
                        <div class="col col-6 text-right text-light h5">@Model.ErrorCount 张</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row alertBox InfoBox">
        <div class="col col-8 orderInfo">
            <i class="fa fa-table mr-1" aria-hidden="true"></i>客户订单详情
        </div>
        <div class="col col-4 orderBtn">
            @*导出数据按钮*@
            <a href="#" id="exportExcel"></a>
        </div>
    </div>
    <div class="table_box">
        <div class="filterGroup"></div>
        <div id="toolbar"></div>
        <table class="table text-nowrap table-striped"
               id="table-request"
               data-toggle="table"
               data-maintain-selected="true"
               data-sort-name="Zeitpunkt"
               data-sort-order="asc"
               data-search="true"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-page-size="25"
               data-show-footer="false"
               data-side-pagination="client"
               data-show-export="true"
               data-export-types="['excel', 'pdf]"
               data-export-options='{
              }'
               data-click-to-select="true">
        </table>
        <div class="container-fluid">
            <div class="row">
                @*<div id="echart" style="width: 100%;height:800px;"></div>*@
                <div id="jobschedules" style="height: 400px; width: 100%"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/orderConfirm.js"></script>
<script src="~/js/jquery.stacked-gantt.min.js"></script>
<script src="~/js/MyGanttData.js"></script>